@media (max-width: 1280px) {
    .logo {
      margin-left: 80px;
    }
    .anh1 {
      height: 420px;
      width: 640px;
    }
    .anh01 {
      height: 350px;
      width: 350px;
    }
    .bewen2 {
      margin-left: 30px;
      margin-top: 10px;
    }
    .row2 {
      display: block;
    }
    .row3 {
      display: flex;
      gap: 20px;
    }
    .pp2 {
      width: 630px;
      height: 550px;
      object-fit: cover;
    }
    .pp3 {
      width: 630px;
      height: 550px;
      object-fit: cover;
    }
  }